body {

  background: url(img/back-gound.jpg);

}



h1 {

color: white;
text-align: center;
padding: 70px 0px;


}


h2 {

font-family: sans-serif;
color: white;
text-align: justify;
border-top: yellow;

}

h3 {

  font-family: sans-serif;
  /*color: black;*/
  text-align: justify;
  background-color: yellow;

}

li {

  color: white;
}
