body {

background-image: url(img/bg.jpg);

background-repeat: repeat;
}


.left-column {

background: url(img/left-column.jpg);
background-size: cover;
}



.right-column {

background: url(img/right.jpg);



}

.bgtitle {

  background-image: url(img/head-right.jpg);
  /*background-position: left;*/
  height: 385px;
  width: 292px;
  padding: 0px;

}

h1 {

color: white;
text-align: center;
padding: 70px 0px;

}


h2 {

font-family: sans-serif;
color: white;
text-align: justify;
border-top: yellow solid 3px;
padding: 10px 30px;
}

h3 {

  font-family: sans-serif;
  text-align: justify;
  background-color: yellow;
  padding: 5px 30px;

}

h4 {

color: pink;
background: yellow;
font-size: 10px;
padding: 10px 0px;
margin-left: 10px;
padding-left: 10px;
}


.clockimage {

color: white;


}
.cartouche {

background: grey;
border-top: yellow solid 2px;
border-bottom: yellow solid 2px;
text-align: justify;
max-width: 300px;
margin: auto;
padding : 10px 0px 10px 0px;

}
.yellow {

color: yellow;
border-left: yellow solid 2px;
padding-top: 10px;

}

div.bloctexte {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 250px;

	/*padding-left: 50px;*/
}

div.blocimage1 {

	float: left;
	margin: 10px;
  padding: 2px;
border: yellow solid 2px;

}

div.blocimage2 {

	float: right;
	margin: 10px;
  padding: 2px;
border: yellow solid 2px;

}

p{

padding-left: 30px;
color: white;

}


.title-bottom {

text-align: center;
color: white;
font-size: 20px;
margin-top: 30px;

}

.list {

border: yellow solid 1px;
margin: -30px 0px 10px 10px;
padding: 50px 10px 10px 10px;

}



li {

  color: white;
}
.star {

 list-style-image : url(img/star1.jpg);

}

.none {

list-style-type: none;

}


.bullet-yellow {

  list-style-image : url(img/bullet.gif);


}

.li-grey {

list-style-type: none;
padding: 10px 0px 10px 10px;
margin: 10px 0px 10px 0px;
background: darkgrey;
color: grey;
border-top: darkgrey solid 1px;


}
